[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
shiny = "*"
google-cloud-bigquery = "*"
pandas = "*"
google-auth = "*"
matplotlib = "*"
plotly = "*"
rpy2 = "*"
datetime = "*"


[dev-packages]